<% include ./partials/header %>
<% console.log(cart.length) %>
<section id="cart">
  <div class="container-fluid">
    <div class="row">
      <% if(cart.length === 0) { %>
        <div class="col-md-10 mx-auto">
          <div class="jumbotron">
            <h3>Your Cart Is Empty!</h3>
          </div>
        </div>
      <% } else { %>
        <div class="col-md-10 mx-auto">
            <table class="ui black table unstackable">
              <thead>
                <th class="center aligned">SNo.</th>
                <th class="center aligned">Book Name</th>
                <th class="center aligned">Quantity</th>
              </thead>
              <tbody>
                <% cart.forEach((book, i) => { %>
                  <tr class="center aligned">
                    <td><%= i + 1 %></td>
                    <td><%= book.title %></td>
                    <td><%= book.qty %></td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
        </div>
      <% } %>
    </div>
  </div>
</section>

<% include ./partials/footer %>
