<% include ./partials/header %>

<section class="hero">
  <div class="container-fluid">
    <div class="row">
      <% books.forEach((book) => { %>
      <div class="w-100"><%= book.title %></div>
      <% }) %>
    </div>
  </div>
</section>

<% include ./partials/footer %>
