<% include ./partials/header %>

<section class="hero">
  <div class="container-fluid">
    <div class="row">
      <% books.forEach((book) => { %>
      <h1><%= book.title %></h1>
      <br />
      <% }) %>
    </div>
  </div>
</section>

<% include ./partials/footer %>
