.hideOverflow {
  overflow-y: hidden;
}

/* General Styles */
.container-fluid {
  margin-top: 75px;
}

.coverImage {
  object-fit: contain;
}

.ui.buttons .or:before {
  color: rgba(0, 0, 0, 1);
}

/* Navbar */
nav {
  background: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#addButton {
  font-size: 1.3rem;
}

/* Login form */

#login .container-fluid {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Register Form */
#register .container-fluid {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Error Page */
#error .container-fluid {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Show Page */
#showDetail .container-fluid .card {
  box-shadow: none;
}

#deleteButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#addToCartButton {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

#purchaseButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
