.hideOverflow {
  overflow-y: hidden;
}

/* General Styles */

section {
  display: none;
}

#loadingMask {
  width: 100%;
  height: 100%;
  margin-top: 75px;
  z-index: 99999999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#circle1 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border-color: transparent;
  border-top: 3px solid red;
  animation: rotate 1s infinite linear;
}

#circle2 {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border-color: transparent;
  border-bottom: 3px solid blue;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container-fluid {
  margin-top: 75px;
}

.coverImage {
  object-fit: contain;
}

.ui.buttons .or {
  z-index: 1;
}

.ui.buttons .or:before {
  color: rgba(0, 0, 0, 1);
}

/* Navbar */
nav {
  background: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#addButton {
  font-size: 1.3rem;
}

.nav-item {
  border: 2px solid transparent;
  transition: border 1s;
}

.nav-item.active {
  border-bottom: 2px solid red;
}

.nav-item.active:hover {
  border-bottom: 2px solid red;
}

.nav-item:hover {
  border-bottom: 2px solid black;
}

#authenticationButtons:hover {
  border-bottom-color: transparent;
}

@media (max-width: 768px) {
  .nav-item {
    padding-left: 5px;
    border: 2px solid transparent;
  }
  .nav-item.active {
    border-left: 2px solid red;
    border-bottom-color: transparent;
  }
  .nav-item:hover {
    border-bottom-color: transparent;
  }
  #authenticationButtons:hover {
    border-bottom-color: transparent;
  }
}

/* Login form */

#login .container-fluid {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Register Form */
#register .container-fluid {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 768px) {
  #register .container-fluid {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/* Error Page */
#error .container-fluid {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Show Page */
#showDetail .container-fluid .card {
  box-shadow: none;
}

#deleteButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#addToCartButton {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

#purchaseButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ui.form textarea {
  border: 1px solid black;
}

/* modal class */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
